<div class="checkout-page">

  <!-- LEFT: BILLING FORM -->
  <div class="billing-box">
    <h3>Billing</h3>

    <input type="text" placeholder="Full name" />
    <input type="email" placeholder="Email" />
    <input type="text" placeholder="Billing address" />
    <input type="text" placeholder="Apt/Suite" />

 <label class="checkbox-row">
  <input type="checkbox" />
  <span>I can't find my address</span>
</label>

<label class="checkbox-row">
  <input type="checkbox" />
  <span>Use different shipping address</span>
</label>


    <button class="continue-btn">
      Continue to Shipping
    </button>
  </div>

  <!-- RIGHT: ORDER SUMMARY -->
<div class="summary-box">
  <div class="summary-header">
    <h4>Order summary</h4>
    <a class="edit-link">Edit</a>
  </div>

  <div class="summary-item">
    <span>Ice Cream ×1</span>
    <span>$10.00</span>
  </div>

  <p class="summary-note">
    Shipping and taxes will be calculated after an address is provided.
  </p>

  <div class="summary-total">
    <span>Total</span>
    <span>$10.00</span>
  </div>
<hr style="color:lightslategray"/>
  <div class="secure-box">
    <span class="lock">🔒</span>
    <span>Secured by Stripe</span>
  </div>

  <div class="payment-icons">
    <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScg-v3JIuLAtufLSBp5jZ0O-rz2yBvg8zXHw&s'>
  </div>
</div>
